@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); /*Headings, Call-to-actions, Header Navigation*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); /*Body*/

:root {
/* ## Colors */

/* ### Primary */

--darkBlue1: hsl(217, 28%, 15%); /*intro and email sign up background*/
--darkBlue2: hsl(218, 28%, 13%); /*main background*/
--darkBlue3: hsl(216, 53%, 9%); /*footer background*/
--darkBlue4: hsl(219, 30%, 18%); /*testimonials background*/

/* ### Accent */

--cyan: hsl(176, 68%, 64%); /*inside call-to-action gradient*/
--blue: hsl(198, 60%, 50%); /*inside call-to-action gradient*/
--lightRed: hsl(0, 100%, 63%); /*error*/

/* ### Neutral */

--white: hsl(0, 0%, 100%); /**/

}
* {
    font-size: 14px;
    line-height: 1.5em;
}

body {
    font-size: 14px;
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--white);
    background-color: var(--darkBlue2);
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 375px;
    width: 100%;
    /* min-height: 1020px; */
    box-sizing: border-box;
}

.section {
    padding: 2.5em 2em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--darkBlue1);
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav--header {
    padding: 1.25rem;
    margin-top: 0.25rem;
}
.nav__logo {
    height: 24px;
}
.nav__button {
    color: var(--white);
    background-color: unset;
    border: none;
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: .5rem;
}

/* HERO */
.section--hero-divider {
    background-image: url(/images/bg-curvy-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: var(--darkBlue1);
    width: 100%;
}
.hero-divider {
    width: 100%;
    height: 0rem;
    margin-top: 95%;
    /* margin-bottom: -10px; */
}


.section--hero {
    margin-top: -95%;
    padding-top: 1.5em;
    padding-bottom: 3em;
    /* background-image: url(/images/bg-curvy-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: var(--darkBlue1); */
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero__hero-image {
    width: 100%;
    max-width: 720px;
}
.hero__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(/images/bg-curvy-mobile.svg); */
}
.hero__heading {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.75em;
    line-height: 1.5em;
    margin-top: 1.25em;
    margin-bottom: 0.5em;}
.hero__subheading {
    line-height: 1.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;   
}
.button--hero {
    color: var(--white);
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 75%;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    background-image: linear-gradient(to right, var(--cyan), var(--blue)) ;
}

/* FEATURES */

.feature {
    padding: 2.5rem 0;
    text-align: center;
}
.feature__heading {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 0;
}
.feature__text {
    line-height: 1.5;
}
.feature__logo {
    width: 65px;
    margin: 1em;
}
.feature__logo--security {
    width: 55px;
    margin: 0.25em;
}
.feature__logo--any-file {
    width: 70px;
}

/* PRODUCTIVE */

.section--productive {
    margin-top: 3em;
}

.productive-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productive__hero-image {
    width: 95%;
}
.productive__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2em;
}
.productive__heading {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 1.25em;
    line-height: 1.5em;
}
.productive__subheading {
    text-align: left;
    margin-top: 0;
    line-height: 1.5em;
}
.button--productive {
    color: var(--cyan);
    background-color: unset;
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    text-align: left;
    border: none;
    border-bottom: 1px solid var(--cyan);
    padding: 0.25em 0;
}

.button--productive:after {
    content: url(/images/icon-arrow.svg);
    margin-left: 0.5rem;
    vertical-align: middle;
}

/* TESTIMONIALS */
.section--testimonials {
    padding: 2.5em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    margin-top: 7rem;
    background-image: url(/images/bg-quotes.png);
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position-x: 3.5em;
    background-position-y: 1.25em;
}

.testimonial {
    background-color: var(--darkBlue4);
    border-radius: 4px;
    padding: 1.5em;
}
.testimonial__text {
    font-size: 11px;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 1.5em;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75em;
}
.user__avatar {
    width: 24px;
    border-radius: 50%;
}
.user__name {
    margin: 0;
    font-size: 11px;
}
.user__title {
    margin: 0;
    font-size: 8px;
}



/* OPT-IN */

.section--opt-in {
    background-color: var(--darkBlue1);
    margin: 1.5em;
    margin-top: 8rem;
    margin-bottom: -13rem;
    border-radius: 0.75rem;
}

.opt-in__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.opt-in__heading {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 1.25em;
    line-height: 1.5em;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0;
}
.opt-in__text {
    line-height: 1.5;
    text-align: center;
}
.opt-in__email-input {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1.75em 0;
}
.opt-in__button {
    color: var(--white);
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    background-image: linear-gradient(to right, var(--cyan), var(--blue)) ;
}

/* FOOTER */

.footer {
    background-color: var(--darkBlue3);
    padding-top: 15rem;
}
.section--footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.footer__logo {
    margin-bottom: 1em;
    margin-left: 1em;
}
.footer__contact {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: 2.5rem auto;
    margin-bottom: 1rem;
}
.footer__contact-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}
.footer__icon {
    margin-top: 0.25em;
}
.footer__location {
    /* margin-bottom: 1.5em; */
    margin-top: 0;
    font-size: 1.1em;
}
.footer__phone {
    /* margin-bottom: 1.5em; */
    margin-top: 0;
    font-size: 1.1em;
}
.footer__email {
    /* margin-bottom: 1.5em; */
    margin-top: 0;
    font-size: 1.1em;
}
.footer__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
.footer__nav-item {
    font-size: 16px;
    margin: 0.5em 0;
}
.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75em;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.footer__social-icon {
    height: 2em;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* MEDIA QUERIES */
@media (min-width: 40em) {

}


@media (min-width: 60em) {
    .nav__logo {
        height: 48px;
    }
}
